@import "iconset.css";

@font-face {
    font-family: droidsans;
    src: url(font/DroidSans.ttf);
}

body,
#the_page,
#content {
	background-color: #4f4f4f;
	padding: 0 !important;
	margin: 0 !important;
	color: #e6e6e6;
	font-size: 1em;
	font-family: droidsans, tahoma, arial;
}

a {
	color: #e6e6e6;
}

#theHeader {
	background-color: #333333;
	margin: 0 0 0.6em 0;
	padding: 0.1em;
	height: 4.5em;
	box-shadow: 0px 0px 0.5em #000000;
	z-index: 2;
	position: fixed;
	width: 100vw;
}

#theHeader h1 {
	font-size: 2.1em;
	padding: 0;
}

#theCategoryPage {
	font-size: 1em;
	margin: 0 !important;
}

#theImage {
	width: 95vw;
	height: calc(100vh - 8em);
	margin: auto;
}

#theMainImage {
	width: 100%;
    height: 100%;
    object-fit: contain;
}

/*#thePicturePage > #the_page > #menubar , */#thePicturePage > #the_page > #theHeader {
	display: none;
}

input, 
textarea,
select,
.selectize-input,
.selectize-dropdown-content {
	background-color: #929292 !important;
	border: 1px solid #222222 !important;
	color: #222222 !important;
	padding: 0.2em;
	font-size: 1.2em;
}

input[type=checkbox], input[type=radio] {
	margin: 0 0.5em 0 0;
}

#menubar {
	background-color: #333333;
	position: fixed;
	top: 4.7em;
	/*height: 100%;*/
	z-index: 3;
	box-shadow: 0px 0.5em 0.5em #000000;
	margin: 0px 0px -100px 0;
	padding: 1em;
	width: 12vw;
	overflow-y: auto;
	height: calc(100vh - 5.5em);
}

#mbIdentification {
	margin-bottom: 4em !important;
}

.contentWithMenu, 
#copyright {
	position: relative;
	top: 6.5em;
	left: 17vw;
	margin: 0;
	width: 78vw;

}

.thumbnailCategories {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.thumbnailCategories li {
	display: block;
	width: auto;
	height: auto;
	margin: 1em;
	padding: 1em;
	background-color: #929292;
	border: 1px solid #222222;
	/*box-shadow: 0px 0px 20px #222;*/
}

.odd, 
.even {
	overflow: hidden;
}

.thumbnailCategory .illustration img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.thumbnailCategory .illustration {
	width: 22em !important;
	height: 22em !important;
	position: relative;
	margin: 0 !important;
	display: block;
}

.thumbnailCategory .description {
	position: absolute;
	bottom: 0px;
	width: calc(100% - 0.8em);
	height: auto !important;
	overflow-wrap: break-word;
	background-color: rgba(40, 40, 40, 0.85);
	color: #222222;
	padding: 0.4em;
}

.thumbnailCategory .description h3 {
	font-size: 1.7em;
	margin-bottom: 0.3em;
}

.thumbnailCategory .description h3,
.thumbnailCategory .description h3 a,
.thumbnailCategory .description .text {
	text-align: center;
	color: #e6e6e6;
}

.thumbnailCategory .description img {
	width: 16px;
}
.wrap1 {
	background-color: #929292;
	padding: 1em;
	/*box-shadow: 0 0 8px #000;*/
	border: 1px solid #222222;
	margin: 1em !important;
}

.wrap1 .thumbLegend {
	color: #222222;
	font-size: 0.9em !important;
	height: 1.2em !important;
	padding: 0.2em;
}

#imageHeaderBar {
	background-color: #333333;
	box-shadow: 0px 0px 0.5em #000000;
	margin: 0 0 1.2em 0;
	padding: 0.5em 0;
}

#imageToolBar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#imageToolBar .imageNumber {
    margin: 0 1em 0 1em;
}

#imageInfos {
	position: relative;
	top: 4em;
}

.imageComment {
	font-size: 1.1em;
	padding: 0.4em;
	margin-top: 0;
	color: #222222;
	background-color: #929292;
}

.waitingForServer {
  border: 0.7em solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.7em solid #3030a9;
  border-bottom: 0.7em solid #3030a9;
  width: 4em;
  height: 4em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.switchBox {
	background-color: #4F4F4F;
}

.calItem {
	padding: 0.3em;
}

#comments {
	text-align: center;
	margin: auto;
	max-width: 50vw;
	position: relative;
	top: 6em;
	border-top: 1px solid #868686;
}

.commentElement {
	border-top: 1px solid #868686;
	text-align: left;
	width: 100%;
}

.imageInfo dt {
	padding-right: 1.2em;
	border-right: 1px solid #868686;
}

.imageInfo dd {
	padding-left: 1.2em;
}

#menubar ul, 
#menubar form, 
#menubar p {
	font-size: 1em;
}

#quickconnect input[type=text],
#quickconnect input[type=password] {
	width: 95% !important;
}

#copyright {
	margin: 3em 0 0 0;
	padding: 1em;
	background-color: #333333;
}

.imageInfo dt {
	width: 50%;
} 

#Metadata h3 {
	display: block;
	width: 100%;
	position: relative;
	left: 50%;
	text-align: center;
	margin: 2em 0 0.5em 0;
	border-top: 1px solid #868686;
	padding-top: 0.3em;
}

.item {
	background-color: #333333 !important;
	background-image: none !important;
	color: #e6e6e6 !important;
	border-radius: 0px !important;
	display: inline-block;
	padding: 0.3em;
	margin: 0 0.7em 0 0;
	border: 1px solid #222222 !important;
	cursor: default;
}

.item .remove {
	margin-left: 0.4em;
	padding: 0 0.3em 0 0.3em;
	cursor: pointer;
	border: none !important;
	background-color: #633333 !important;
}

.item .remove:hover {
	background-color: #9c3333 !important;
}

.item .active {
	background-color: #0f0e0d !important;
	border: 1px solid #c47503 !important;
}

.selectize-input input {
	border: none !important;
}

.selectize-dropdown-content {
	line-height: 1.6em;
}

.highlight {
	background-color: #3d942f !important;
}

.selectize-dropdown-content > .active {
	background-color: #6d6d6d;
	padding: 0.5em;
	cursor: pointer;
}

@media screen and (max-width: 1600px) {
	body,
	#the_page,
	#content {
		font-size: 90%;
	}

	.contentWithMenu, 
	#copyright {
		top: 7em;
}